qiskit-env/
qhrp-env/
__pycache__/
.ipynb_checkpoints/

repos/

src/results/cache/


latex/*.acn
latex/*.aux
latex/*.bbl
latex/*.blg
latex/*.fdb_latexmk
latex/*.fls
latex/*.glg
latex/*.glo
latex/*.glsdefs
latex/*.gnuploterrors
latex/*.idx
latex/*.ilg
latex/*.ind
latex/*.loa
latex/*.loe
latex/*.lof
latex/*.log
latex/*.lol
latex/*.lot
latex/*.ltb
latex/*.mw
latex/*.out
latex/*.toc
latex/*.xdy

